@media (max-width: 768px) {
    .common-text {
        font-size: 10px !important;
        /* Adjust font size for smaller devices */
    }
}

.common-text {
    font-size: 16px;
}

svg:hover {
    cursor: pointer;
}

.image {
    width: 200px;
    /* Set the width of each card */
    height: 200px;
    /* Set the height of each card */
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    display: inline-block;
}

img {
    width:25rem;
    aspect-ratio:3/2;
    object-fit: contain;
}

@media (max-width: 768px) {
    img {
        width: 20rem !important;
    }
}