<section>
  <div class="container text-center py-1">
    <div class="row g-5">
      <div
        class="col-12 col-md-12 col-lg-6 col-sm-12 col-xl-6 col-xs-6"
        *ngFor="let item of allBooks"
      >
        <div
          class="d-flex align-items-center justify-content-around px-1 shadow py-1 sm-auto xs-auto"
        >
          <!-- card img -->
          <div
            class="d-flex flex-column mb-1 justify-content-center align-items-center image"
          >
            <img
              alt="GIF"
              class="d-md-block img-fluid m-1 p-1"
              width="40px"
              lazy
              src="{{ bookservice.baseUrl }}/images/{{ item.productImage }}"
            />
            <button
              class="btn btn-outline-info mt-1 mb-1 text-wrap"
              (click)="addToCart(item)"
            >
              AddToCart
            </button>
            <button
              class="btn btn-outline-danger text-wrap mt-1 mb-1"
              (click)="clearCart()"
            >
             ClearCart
            </button>
          </div>
          <div>
            <p class="text-capitalize text-sm fw-light m-2 p-3 common-text">
              Name:
            </p>
            <p class="text-capitalize fw-light m-3 p-3 common-text">Price:</p>
            <p class="text-capitalize fw-light m-3 p-3 common-text">
              publishDate:
            </p>
            <p class="text-capitalize fw-light m-3 p-3 common-text">
              Category_name:
            </p>
          </div>
          <div>
            <h6
              class="m-3 p-3 text-uppercase fw-bolder text-sm sm-auto common-text"
            >
              {{ item.name }}
            </h6>
            <h6 class="m-3 p-3 sm-auto fs-6 common-text">
              {{ item.price }}
            </h6>
            <h6 class="m-3 p-3 sm-auto text-sm fs-5 common-text">
              {{ item.publishDate }}
            </h6>
            <h6 class="m-3 p-3 font-monospace fs-6 fw-bolder common-text">
              {{ item.category.name }}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
