<p class="text-center text-black">Cart({{ myCart.length }})</p>
<section>
  <div class="container text-center py-1">
    <div class="row g-5">
      <div
        class="col-12 col-md-12 col-lg-6 col-sm-12 col-xl-6 col-xs-6"
        *ngFor="let item of allBooks"
      >
        <div
          class="d-flex align-items-center justify-content-around px-2 shadow py-2 sm-auto xs-auto"
        >
          <!-- card img -->
          <div
            class="d-flex flex-column column-gap-3 mb-3 justify-content-between align-items-center"
          >
            <img
              alt="GIF"
              class="d-md-block  img-fluid m-1 p-1 rounded-2"
              width="60px"
              src="{{bookservice.baseUrl}}/images/{{item.productImage}}"
            />
            <hr />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="20"
              width="22.5"
              viewBox="0 0 576 512"
              (click)="addToCart(item)"
            >
              <path
                d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="20"
              width="22.5"
              viewBox="0 0 384 512"
              class="mt-2"
              (click)="clearCart()"
              
            >
              <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                fill="#121212"
                d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
              />
            </svg>
          </div>
          <div>
            <p class="text-capitalize text-sm fw-light m-3 p-3 common-text">
              Name:
            </p>
            <p class="text-capitalize fw-light m-3 p-3 common-text">Price:</p>
            <p class="text-capitalize fw-light m-3 p-3 common-text">
              publishDate:
            </p>
            <p class="text-capitalize fw-light m-3 p-3 common-text">
              Category_name:
            </p>
          </div>
          <div>
            <h6
              class="m-3 p-3 text-uppercase fw-bolder text-sm sm-auto common-text"
            >
              {{ item.name }}
            </h6>
            <h6 class="m-3 p-3 sm-auto fs-6 common-text">
              {{ item.price }}
            </h6>
            <h6 class="m-3 p-3 sm-auto text-sm fs-5 common-text">
              {{ item.publishDate }}
            </h6>
            <h6 class="m-3 p-3 font-monospace fs-6 fw-bolder common-text">
              {{ item.category.name }}
            </h6>
            <!-- <button class="btn btn-info btn-sm" (click)="sendDetails(item)">Add To Cart</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
