.btn {
    border-radius: 5px;
    border: 2px solid rgb(22, 209, 241);
}

@media (max-width: 768px) {
    .common-text {
        font-size: 10px !important;
        /* Adjust font size for smaller devices */
    }
}
.common-text{
    font-size: 16px;
}

svg:hover {
    cursor: pointer;
}

img {
    width: 35rem !important;
}

@media (max-width: 768px) {
    img {
        width: 20rem !important;
    }
}